#app {
    display: grid;
    grid-template-columns: 51.25% 48.75%;
    
    height: 100vh;
}

main {
    overflow: auto;
    padding: 4rem; /* 64px */
}

main .main-container {
    max-width: 33rem;/* = 528px */
    margin-left: auto;
    gap: .5rem;/* = 8px */
    margin-bottom: 1.5rem;/* =24px */
}

main .back {
    display: flex;
    align-items: center;
    gap: .5rem; /* 8px */
    margin-bottom: 1.5rem; /* 24px */
}

main h1 {
    font: 600 1.5rem/1.25 var(--font-family);
    margin-bottom: .5rem;
}

aside {
    background-color: var(--surface-secondary);
    padding: 4rem;/* = 64px */
}

aside .aside-container {
    max-width: 31rem;/* = 496px */
}

aside h2 {
    font: 600 2.5rem/1.25 var(--font-family);
    margin-bottom: .5rem;
}

aside span {
    color: var(--text-highlight);
}

.ilustracao {
    height: auto;
    margin-top: 2rem;
}

/* ====  MEDIA QUERIES  ==== */
@media (max-width: 768px) {
    body {
        overflow: auto;
    }

    #app {
        grid-template-columns: 1fr;
        grid-template-areas:
        "aside"
        "main";
        height: auto;
        min-height: 100vh;
    }

    aside {
        padding: 1.5rem; /* 24px */
    }

    aside .aside-container {
        max-width: 19.5rem; /* 312px */
        margin: 0 auto;
        text-align: center;
    }

    aside header img {
    display: block;
    margin: 0 auto .75rem;
  }

  aside h2 {
    font: 600 1.5rem/1.3 var(--font-family);
  }

  .ilustracao {
    margin-top: 1.5rem; /* 24px abaixo do texto */
  }

  main {
    overflow: visible;
    padding: 0 1.5rem 1.5rem;   /* laterais e bottom = 24px */
    margin-top: 1.5rem;         /* 24px entre ilustração e bloco "Voltar" */
  }

  main .main-container {
    max-width: 19.5rem; /* 312px */
    margin: 0 auto;
  }

  .actions-wrapper {
    flex-direction: column;
    gap: .75rem;
  }

  .actions-wrapper button {
    width: 100%;
    text-align: center;
  }

  .btn-secondary {
    margin-left: 0;
  }

}